<div id="div">
    <div class="about-section">
        <h1>About Us </h1>
        <p>Some information about who we are and what we do.</p>
        <p>ToDo is a digital notebook application that blends notes, tasks and a daily planner into one streamlined workflow. 
          It's simple to learn, but powerful enough to replace numerous tools that you might have previously used.
          Ideas are nothing until you make them real. To-Do has built-in task management capabilities.
        </p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1517673132405-a56a62b18caf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTh8fGJvb2tzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Jane" style="width:100%"><br>
           
            <div class="container">
              <h2>Rupa Rani</h2>
              <p class="title">Team member 1</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>RupaRani#example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1491841573634-28140fc7ced7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGJvb2tzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Mike" style="width:100%"><br>
            <div class="container">
              <h2>Shalin</h2>
              <p class="title">Team member 2</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>shalin#example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1526285759904-71d1170ed2ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGJvb2tzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="John" style="width:100%"><br>
            <div class="container">
              <h2>Annanya</h2>
              <p class="title">Team member 3</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>Annanya#example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
