<div class="centre">
  <div class="modal-content">
    <div class="modal-header">
      <div id="heading" >
          <h3>
              Add Task
          </h3>
  
      </div>
      <br>
    </div>
    <div class="modal-body">
      

      <form [formGroup]="addTaskForm" (ngSubmit)="addSubmit()">
      
        <div>
          <mat-form-field style=" width: 80%;">
            <mat-label>Task-Name</mat-label>
            <input matInput type="taskName" name="taskName" formControlName="taskName" id="taskName" [(ngModel)]="task.taskName" >
            <div class="error" *ngIf="addTaskForm.controls['taskName'].hasError('maxlength')" style="color: red;">You have reached the maximum limit</div>
          </mat-form-field>
        </div>
        <br>
        <div>
          <mat-form-field style=" width: 80%;">
            <mat-label>Task Content</mat-label>
            <textarea  matInput type="taskContent" name="taskContent" formControlName="taskContent" id="taskContent" [(ngModel)]="task.taskContent" [maxlength]="204"></textarea>
            <div class="error" *ngIf="addTaskForm.controls['taskContent'].hasError('maxlength')" style="color: red;">You have reached the maximum limit</div>
          </mat-form-field>
        </div>
        <br>
        <div>
          <mat-form-field style=" width: 80%;">
            <mat-label>Choose a date YYYY-MM-DD</mat-label>
            <input matInput type="taskDeadline" [matDatepicker]="picker" [min]="todayDate" name="taskDeadline" formControlName="taskDeadline" id="taskDeadline" [(ngModel)]="task.taskDeadline">
            <mat-hint>follow this pattern "YYYY-MM-DD"</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <br>
       
        <div>
          <mat-radio-group aria-label="Overall priority"  name="taskPriorityLevel" formControlName="taskPriorityLevel" id="taskPriorityLevel" [(ngModel)]="task.taskPriorityLevel">
              <mat-label >Priority</mat-label>
              <mat-radio-button class="radioBu" value="Low">Low</mat-radio-button>
              <mat-radio-button class="radioBu" value="Medium">Medium</mat-radio-button>
              <mat-radio-button class="radioBu" value="High">High</mat-radio-button>
              <mat-radio-button class="radioBu" value="Urgent">Urgent</mat-radio-button>
            </mat-radio-group>
        </div>
        <br>
   
        <div>
              <mat-form-field style=" width: 80%;">
                  <mat-label>select the task Category </mat-label>
              <mat-select name="taskCategory" formControlName="taskCategory" [(ngModel)]="task.taskCategory" >
                  <mat-option value="Work">Work</mat-option>
                  <mat-option value="Personal">Personal</mat-option>
               
              </mat-select>
             </mat-form-field>
        </div>
        <br>

        <div id="btn">
          <button type="submit" [disabled]="!addTaskForm.valid" mat-raised-button color="primary"
            data-bs-dismiss="modal" aria-label="Close"> ADD
          </button>
       
        </div>
      </form>

    </div>
  
  </div>

</div>
