/* .example-full-width {
    margin-left: 35%; 
justify-content: center;
padding-top: 5px;
} */

.example-full-width {
    margin-left: 35%; 
justify-content: center;
padding-top: 5px;
margin-top: 8px;
}
button
{
  padding:10px;
  margin:10px;
  margin-top: -7px;
}

/* .search-container {
  display: flex;
  align-items: center;
  width: 25%;
}

.search-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-button {
  border-radius: 4px;
  margin-left: 8px;
}


   */