.example-header-image {
    /* background-image: url('../../../assets/images/1342400-middle.png'); */
    background-size: cover;
    border: 1px solid;
   
  }
  
  #title{
    font-size: xx-large;
    margin-left: 20px;
  }
  .heading{
    margin-top: 1%;
    margin-left: 6%;
    display: flex;
    justify-content: center;
    color:rgb(20, 55, 121);
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-weight:bolder;
  }  
  
  .card {
    background-color:aliceblue;
    margin-top: 1%;
    border-radius: 10px;
    margin-top: 10%;
    padding: 5px;
    width: 85%;
    height: 80%;
    margin-left: 20%;
    text-align: center;
    float: left;
    box-shadow: 6px 6px 3px 0px rgba(69, 68, 68, 0.75);
    position: relative;
    right: 10%;
    bottom: 10%;
    }
  
    #chip{
      
       margin-bottom: 15%;
       background-color: aliceblue;
       padding-top: 5px;
       padding-bottom: 5px;
   
     }
     strong{
       display: inline;
       padding-left: 7px;
       padding-right: 7px;
       padding-top: 5px;
       padding-bottom: 5px; 
       margin-bottom: 10px;
       border-radius: 7px;
     }
  
    #add{
      background-color:rgb(232, 242, 250);
      border-radius: 10px;
      margin-top: 80px;
      padding: 5px;
      width: 350px;
      height: 350px;
      text-align: center;
      float: left; 
      margin-left: 100px;
      box-shadow: 10px 10px 5px 0px rgba(69, 68, 68, 0.75);
    }
    #addicon{
     
      font-size: 60px;
      width: 50px;
      height: 50px;
      margin: 41%;
      color: rgb(82, 82, 184);
 
    }
  /* .low{
    background-color: rgb(12, 153, 12);
  }
  .medium{
    background-color:rgb(220, 220, 10)
  }
  
  .high{
      background-color: rgb(250, 113, 63);
  }
  .critical{
    background-color: rgb(240, 23, 23);
  } */
  
  
   #divider{
   
    border-radius: 15px;
    height: 5px;
    background-color: rgba(136, 158, 244, 0.992);
   }
  
  
    h6{
      display: inline;
      background-color: rgb(47, 221, 221);
      padding: 10px;
      border-radius: 15px;
      
    }
    .button{
      display: flex;
      float: center;
      justify-content: space-around;
      margin-left: 20px;
    }
    .cat{
      float: left;
      margin-top: 10px;
    }
    .cont{
      margin:2px
    }
    mat-grid-tile {
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    .headerMid{
      width: 90%;
    }
    .headerRight{
      width: 10%;
    }
    mat-progress-bar{
      border-radius: 15px;
      padding-left: 2px;
      padding-right: 2px;
      padding-top: 4px;
      padding-bottom: 6px;
    }

    mat-card-title {
      display: flex;
      font-weight: bold;
      font-size: 29px;
      letter-spacing: 0.5px;
      justify-content: space-around;
      padding: 6px;
      word-wrap: break-word;
      font-family: serif;
    }
    
    mat-card-subtitle {
      font-family: system-ui;
      font-weight: 600;
      font-size: 22px;
    }
    
    mat-card-content {
      height: 200px;
      font-family: Arial;
      font-weight: 500;
      font-size: 18px;
    }
    
    .date {
      position: relative;
      bottom: 1px;
      top: 11px;
      display: flex;
      float: left;
      font-size: 18px;
      justify-content: space-around;
      float: left;
    }

    .light-urgent {
      background-color: #f77777; /* Light red for critical priority */
    }
    
    .light-high {
      background-color: #f8cf69; /* Light orange for high priority */
    }
    
    .light-medium {
      background-color:  #C5B1F7; /* Light yellow for medium priority */
    }
    
    .light-low {
      background-color:  #D4E4ED; /* Light green for low priority */
    }
    .bg {
      background-color: rgb(255, 255, 255); 
      padding: 0%; 
      margin: 0;
      height: 200vh; 
      background-image:
        radial-gradient(circle, #1b629d 8%, transparent 0%),
        radial-gradient(circle, #ffffff 8%, transparent 0%);
      background-size: 20px 20px; 
      background-position: 0 0, 10px 10px; 
      }
      .card-content {
        overflow-y: auto; /* Add vertical scrollbar */
        max-height: 200px; /* Set maximum height of the content to enable scrolling */
      }
      .taskName {
        background-color: #ffffff;
        /* color: rgb(255, 255, 255);  */
        color: rgb(9, 9, 9); 
        font-weight: 450;
        font-size: 22px;
        padding: 5px 10px; 
        border-radius: 6px; /* Optional: Add border-radius for rounded corners */
        margin-bottom: 15px;
    }



































/* .card {
    background-color: rgba(178, 193, 251, 0.992);
    border-radius: 4px;
    margin-top: 80px;
    padding: 5px;
    width: 350px;
    text-align: center;
    float: left;
    margin-left: 100px;
}

.example-header-image {
    background-image: url('../../../assets/images/loginbackground.webp');
    background-size: cover;
    border: 1px solid;

}

h6 {
    display: inline;
    background-color: rgb(73, 65, 230);
    padding: 10px;
    border-radius: 15px;

}

.button {
    display: inline;
    float: right;
    margin-left: 20px;

}

.cat {
    float: left;
    margin-top: 10px;
}

.cont {
    margin: 2px
} */