<div class="content-main">
  <div class="parallax">
    <div class="overlay"></div>
    <div class="heading">
      <!-- <h1>Elevate Your Productivity</h1> -->
      <img src="../../assets/rocket-gif-unscreen.gif" alt="Rocket GIF" class="rocket">
      <h1>Boost Your Productivity</h1>
      <h2>with To-Do Tracker</h2>
      <p>Empower Your Workflow</p>
    </div>

    <button mat-raised-button color="primary" class="cta-button" routerLink="login" (click)="navLogin()">Try To Do
      Tracker</button>

      <!-- <div class="additional-image">
        <img src="../../assets/lapi2.png" width="450px" height="auto" alt="Additional Image">
      </div> -->

      <div class="additional-image">
        <img src="../../assets/front pc.png" width="550px" height="auto" alt="Additional Image">
      </div>
  </div>

  <!-- Content, parallax2, and footer remain unchanged -->


  <div class="content">
    <!-- Your content here -->
    <div class="feature">
      <div class="feature-content">
        <h3>Capture Quick Ideas and Tasks</h3>
        <!-- <p>Effortlessly add and categorize tasks with To-Do Tracker. Never lose track of important tasks.</p> -->
        <p style="font-size: 18px; color: #5c5c5c; padding-top: 10px; padding-bottom: 5px;">Add tasks with To-Do
          Tracker. Keep track of every task.</p>

        <div class="content-2">
          <img src="../../assets/task-bg.png" alt="Image 1" id="img1">
          <img src="../../assets/note2.png" alt="Image 2" id="img2">
        </div>

      </div>
    </div>

  </div>

  <!-- <img src="../../assets/notebook-removebg-preview.png" alt="Image 2" id="img2"> -->

  <div class="feature-divider"></div>

  <div class="content1">
    <div class="feature1">
      <h3 class="size" style="padding-bottom: 20px;">User-Friendly Interface</h3>
      <p style="margin-bottom: 250px;">Experience an intuitive interface for seamless workflow integration.</p>
      <div id="sc1">
        <img src="../../assets/user friendly.png" width="550px" height="auto" alt="img">
      </div>

      <h3 class="size" style="padding-bottom: 20px;">Archive Completed Tasks</h3>
      <p>Organize your workspace with easy task archiving of completed tasks.</p>
      <div id="sc2">
        <img src="../../assets/Archive.png" width="550px" alt="img" height="auto">
      </div>
    </div>
  </div>


  <div class="parallax2"></div>




  <div class="content2">
    <div class="feature2">
      <div class="left-img">
        <img src="../../assets/or note 3.webp" alt="Planning Image" width="280px" height="auto">
      </div>
      <div class="text-content">
        <h3 class="c-h3">Task Organization Made Easy</h3>
        <p style="margin-bottom: 20px;">Prioritize tasks with due dates for enhanced organization.</p>
        <p style="margin-bottom: 20px;">Quickly filter tasks by priority level for efficient management.</p>
        <p style="margin-bottom: 20px;"><i>Receive timely notifications upon task creation.</i></p>
      </div>
      <div class="right-img">
        <img src="../../assets/calender2.jpg" alt="Planning Image" width="350px" height="auto"
          style="margin-left: -80px;">
      </div>
    </div>
  </div>


  <!-- <div class="feature-divider"></div> -->

  <div class="parallax2"></div>


  <div class="content3">

    <div class="feature">

      <div class="text-content1">
        <h3 class="cc-h3">Modify and Update Tasks</h3>

        <p>Effortlessly manage your tasks:</p>
        <p> update, delete, or mark them as completed with ease.</p>

        <div class="image-con">
          <img src="../../assets/up2.webp" alt="Working Image" width="350px" height="auto">
        </div>

        <div class="img2">
          <img src="../../assets/up1.webp" alt="Working Image" width="355px" height="auto">
        </div>

      </div>

      <div class="image-con2">
        <!-- <img src="../../assets/up2.webp" alt="Working Image" width="250px" height="auto"> -->
        <!-- <img src="../../assets/tick2.webp" alt="Working Image" width="350px" height="auto"> -->
        <img src="../../assets/tick2.webp" alt="Working Image" width="350px" height="auto">
      </div>

      <p style="padding-bottom: 40px; padding-top: 60px; color: #656363; font-size: 20px;">Stay organized with
        categorized tasks for both
        personal and work, ensuring efficiency in your workflow.</p>
    </div>
  </div>

  <div class="parallax3">
    <div class="parallax4">
      <!-- <h2 class="try">Capture Every Task, Keep Every Progress</h2> -->
      <h2 class="try">
        <span style="color: #5a5a5a; font-weight: 500;margin-right: 10px;">Capture Every Task.</span>
        <span style="color: #243c71; font-weight: 500;font-size: 35px;">Sign Up Now for </span>
        <span style="color: rgb(255, 60, 60); font-weight: 500;">Free!</span>
      </h2>


      <button mat-raised-button color="primary" class="cta-button2" routerLink="login" (click)="navLogin()">Try To Do
        Tracker</button>
    </div>
  </div>








  <!-- <div class="content3">
    <p>Sign up now for effortless note tracking. Take control and succeed!</p>
  </div> -->

  <!-- <footer class="footerr">
    <p style="font-size: 20px; padding-bottom: 40px;">&copy; 2024 To Do Tracker Company. All rights reserved.</p>
    <p>Address: 123 Example St, City, Country</p>
    <p>Email:</p>
    <p>Phone: +1234567890</p>
  </footer> -->


  <footer class="footerr">
    <div class="footer-content">
      <div class="footer-centre">
        <p>&copy; 2024 To Do Tracker Company. All rights reserved.</p>
      </div>

      <div class="footer-left">
        <p>City: Delhi, Country: India</p>
        <p>Contact us: {{email}}</p>
      </div>

      <div class="footer-right">
        <div class="logo">
          <img src="../../assets/favcion2bg.png" alt="To Do Tracker Logo">
          <h1>To Do Tracker</h1>
        </div>
        <div class="social-icons">
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </footer>

</div>